<nav class="nba-navbar">
    <div class="NavBar_topGroupWrapper__Bb2vc">
      <ul>
        <li>
        <a href="http://localhost:4200/" ><img src="https://cdn.nba.com/logos/leagues/logo-nba.svg"></a>
          <a href="#">Juegos</a>
          <a href="#">Cronograma</a>
          <a href="#">Mirar</a>
          <a href="#">Noticias</a>
          <a href="#">Estadisticas</a>
          <a href="#">Clasificación</a>
          <a href="#">Playoffs</a>
          <a href="#">Equipos</a>
          <a href="#">Jugadores</a>
          <a href="#">Fantasy</a>
        </li>
        <li class="sign-in">
          <a href="#">Iniciar Sesion</a>
        </li>
      </ul>
    </div>
  </nav>