.nba-navbar {
    background-color: #010101;
    color: white;
    padding: 1rem 0;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  
    .container {
      max-width: 1500px;
      margin: 0 auto;
      overflow-x: auto; /* Para móviles */
      white-space: nowrap;
      scrollbar-width: none; 
      &::-webkit-scrollbar { display: none; }
    }
  
    ul {
      display: flex;
      gap: 1.5rem;
      padding: 0 1rem;
      margin: 0;
      list-style: none;
    }
  
    a {
      color: white;
      text-decoration: none;
      font-weight: 700;
      font-size: 0.8rem;
      text-transform: uppercase;
      letter-spacing: 0.5px;
      transition: color 0.3s;
      //padding: 6rem 0;
      padding:  0.5rem;
  
      &:hover {
        color: #ffc72c; 
      }
    }
  
    .sign-in {
      margin: auto;
      background-color: #ffc72c;
      border-radius: 4px;
      padding: 0.5rem;
  
      a {
        color: #0b0b0b;
      }
    }
  
    @media (max-width: 1200px) {
      ul { gap: 1rem; }
      a { font-size: 0.8rem; }
    }
  }